In [35]:
#Working with Pandas Dataframes
#Exercise Sheet 3

In [36]:
import pandas as pd

In [37]:
#Create Dataframe

df = pd.DataFrame([[339996563, 26854599, 46625], 
                   [1425671352, 19373586, 4484],
                   [123294513, 4409738, 21694]],
                   columns=['Population', 'GDP (mil. $)', 'Avg. inc. ($, PPP)' ])

df

   Population  GDP (mil. $)  Avg. inc. ($, PPP)
0   339996563      26854599               46625
1  1425671352      19373586                4484
2   123294513       4409738               21694

In [38]:
#Multiply by one million all the values of the GDP (mil. $) column

df.loc[:, ['GDP (mil. $)']] *=1000000          #NOTE THE *=
print(df)

   Population    GDP (mil. $)  Avg. inc. ($, PPP)
0   339996563  26854599000000               46625
1  1425671352  19373586000000                4484
2   123294513   4409738000000               21694

In [39]:
#-Rename the column GDP (mil. $) into GDP ($)

df.rename(columns={'GDP (mil. $)' : 'GDP ($)'}, inplace=True)
df

   Population         GDP ($)  Avg. inc. ($, PPP)
0   339996563  26854599000000               46625
1  1425671352  19373586000000                4484
2   123294513   4409738000000               21694

In [40]:
#Add a new column labeled ‘GDP per Cap.’ that contains the GDP per inhabitant.

df['GDP per cap'] = df['GDP ($)'] / df['Population']
df

   Population         GDP ($)  Avg. inc. ($, PPP)   GDP per cap
0   339996563  26854599000000               46625  78984.913150
1  1425671352  19373586000000                4484  13589.096795
2   123294513   4409738000000               21694  35765.890085

In [44]:
#Create a variable called inpPath and assign it with the path to the file ‘Input File Pandas Ex3.csv’.
#Import ‘Input File Pandas Ex3.csv’ in a Pandas DataFrame, called inpDf; set the delimiter, the header,
#and the index.
#Set the index of df as the index of inpDf
#Create a Pandas DataFrame called outDf in which inpDf and the ‘GDP per Cap.’ column of df are
#concatenated using the right axis.

inPath = '/Users/emsfl/Downloads/'

In [45]:
inpDf = pd.read_csv(inPath + 'Input File Pandas Ex3..csv', delimiter=',', header=0, index_col=0)

In [46]:
inpDf

           Population  GDP (mil. $)  Avg. inc. ($, PPP)
Countries
USA         339996563      26854599               46625
China      1425671352      19373586                4484
Japan       123294513       4409738               21694

In [47]:
#Create a Pandas DataFrame called outDf in which inpDf and the ‘GDP per Cap.’ column of df are
#concatenated using the right axis.

df.set_index(inpDf.index, inplace=True)
outDf = pd.concat([inpDf, df['GDP per cap']],axis=1)
outDf

           Population  GDP (mil. $)  Avg. inc. ($, PPP)   GDP per cap
Countries
USA         339996563      26854599               46625  78984.913150
China      1425671352      19373586                4484  13589.096795
Japan       123294513       4409738               21694  35765.890085

In [48]:
#Create a Pandas DataFrame called outDf in which inpDf and the ‘GDP per Cap.’ column of df are
#concatenated using the right axis

df.set_index(inpDf.index, inplace=True)
outDf = pd.concat([inpDf, df['GDP per cap']],axis=1)
outDf

           Population  GDP (mil. $)  Avg. inc. ($, PPP)   GDP per cap
Countries
USA         339996563      26854599               46625  78984.913150
China      1425671352      19373586                4484  13589.096795
Japan       123294513       4409738               21694  35765.890085