In [ ]:
#Starting out with Python, basic expressions
#Exercise Sheet 1

In [2]:
#Assign to the ‘’yVal’’ variable the product of 7 and 8.
yVal = 7*8
print(yVal)

56

In [3]:
#Display the result of ‘’yVal’’ using the print() function.
print("The result is " + str(yVal))

#NOTE THE STR

The result is 56

In [4]:
#Assign to the ‘’strVal’’ variable the word: Business Analytics.

strVal = "Business Analytics"

In [5]:
#Test if z is a member of ‘’strVal’’.
"z" in strVal

True

In [15]:
#Test if u is a member of ‘’strVal’’
"u" in strVal

True

In [7]:
#Display the 3rd letter of ‘’strVal’’
#Display the number of characters in ‘’strVal’’.
#Using slicing, only display the six last letters of ‘’strVal’’ starting from the beginning and from the end. 
print(strVal[2])
print(len(strVal))
print(strVal[12:])
print(strVal[:6])

s
18
lytics
Busine

In [27]:
#-In a for loop, use ‘’cpt’’ counter to display values from 3 to 21 with step 3, using the print() function.

for cpt in range(3,22,3):
    print(cpt)

#Note that even though it is asking for 3-21, I put 22

3
6
9
12
15
18
21

In [31]:
#In a for loop, use ‘’cpt’’ counter to display values from 100 to 20 with step -5, using the print() function

for cpt3 in reversed(range(20,101,5)):
    print(cpt3)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20

In [9]:
#In a while loop, use ‘’i’’ variable to display values from 50 to 20 with step -5, using the print() function
i = 50
while i >=20:
    print(i)
    i -=5

50
45
40
35
30
25
20

In [9]:
#Create a list filled with the following values: 1, 2, 3, 4, Hello, 5.4, 6.
my_list = [1, 2, 3, 4, "Hello", 5.4, 6]
print(my_list)

[1, 2, 3, 4, 'Hello', 5.4, 6]

In [10]:
#Test if 8 is a member of the list.
8 in my_list

False

In [11]:
#Test if Hello is a member of the list.
"Hello" in my_list

True

In [12]:
#Test if hello is a member of the list.
"hello" in my_list

False

In [13]:
#-Display the elements of the list, parsing its indices with a for loop

for cpt in range(len(my_list)):
    print(my_list[cpt])

1
2
3
4
Hello
5.4
6

In [59]:
#Display the elements of the list, parsing its elements with a for loop.

for elt in my_list:
    print(elt)

1
2
3
4
Hello
5.4
6

In [14]:
#-Initialize a list and a variable.
#Fill the list using a for loop with the integers from 1 to 5.
#Display the list.

lst1 = [] 
for i in range(1, 6):
    lst1.append(i)

print(lst1)

[1, 2, 3, 4, 5]

In [15]:
#-Fill a list comprehension using a for loop with the integers from 1 to 5.
lst2 = [i for i in range(1,6)]
print(lst2)

[1, 2, 3, 4, 5]

In [16]:
#-Initialize a list and a variable.
#Fill the list using a while loop with the integers from 1 to 8.
#Display the list.

val = 1
tmpLst = []
while val < 9:
    tmpLst.append(val)
    val += 1
    
print(tmpLst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [67]:
#NAME THE LIST.APPEND(WHAT UR ADDING)       20-30 with a step of 2

val = 20
tmpLst2 = []
while val <= 30:
    tmpLst2.append(val)
    val += 2
    
print(tmpLst2)

[20, 22, 24, 26, 28, 30]

In [20]:
#CAN ALSO BE DONE IN THIS WAY

tmpLst1 = [elt for elt in range(1, 7,2)] 
tmpLst2 = [elt for elt in range(7, 11)]

print(tmpLst1)
print(tmpLst2)

[1, 3, 5]
[7, 8, 9, 10]

In [74]:
#Extend ‘’tmpLst1’’ with ‘’tmpLst2’’ values and display it.
tmpLst1.extend(tmpLst2)
print(tmpLst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
#Order “tmpLst1” by descending order and display it.
tmpLst1.sort(reverse=True)
print(tmpLst1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [78]:
#Insert the value 100 between the numbers 6 and 7 and display it.
tmpLst1.insert(4, 100)
print(tmpLst1)

#REMEMBER TO START ON 0 WHEN COUNTING

[10, 9, 8, 7, 100, 6, 5, 4, 3, 2, 1]

In [79]:
#Remove the value 7 with the function “remove”.
tmpLst1.remove(7)
print(tmpLst1)

#'remove' removes the number

[10, 9, 8, 100, 6, 5, 4, 3, 2, 1]

In [80]:
#Remove the value 100 with the function “pop”.
tmpLst1.pop(3)
print(tmpLst1)

#'pop' removes the position

[10, 9, 8, 6, 5, 4, 3, 2, 1]

In [81]:
#Remove the value 5 with the function del.
del tmpLst1[4]
print(tmpLst1)

#'del' removes position again starting at 0

[10, 9, 8, 6, 4, 3, 2, 1]

In [21]:
lsta = [11, 12, 13, 14, 15]
lstb = [24, 27, 30, 33, 36]

In [22]:
#-Using 2 nested for loops, parse the 2 lists and only display the multiplications greater than 400

for i in lsta:
    for j in lstb:
        if i * j > 400:
            print(i * j)

432
429
468
420
462
504
405
450
495
540

In [86]:
#Create Listc and Remove the duplicates of “litc” using set. 

listc = [11, 12, 11, 13, 12]
listc = list(set(listc))
print(listc)

[11, 12, 13]

In [24]:
my_list = ["newspaper", 9.2, 4, "pi"]
print(my_list)

['newspaper', 9.2, 4, 'pi']

In [25]:
#Concatenate the first two elements using their indexes into a “mytext” variable
mytext = my_list[0] + " " + str(my_list[1])
print(mytext)

newspaper 9.2

In [99]:
#Print the first two elements of “mytext”
mytext[:2]
#or
mytext[0:2]

'ne'

In [101]:
#Print the last elements of “mytext”, starting with the third element
mytext[2:]

'wspaper 9.2'

In [102]:
#Print the last element of the list
mytext[-1]

'2'

In [103]:
#Creating dictionary

my_dict = {'name':'John', 'age':21, 'city':'Dublin'}
print(my_dict)

#Note the {} for dictionary

{'name': 'John', 'age': 21, 'city': 'Dublin'}

In [104]:
my_dict["name"]

'John'

In [105]:
print(my_dict.keys())

dict_keys(['name', 'age', 'city'])

In [106]:
print(my_dict.items())

dict_items([('name', 'John'), ('age', 21), ('city', 'Dublin')])

In [107]:
#Using a for loop, print all the keys and values of the dictionary.

for key, value in my_dict.items():
    print(key,value)

name John
age 21
city Dublin

In [110]:
#Add a new key-value pair for County/Ireland, and print “my_dict”.

my_dict["country"] = "Ireland"
print(my_dict)

{'name': 'John', 'age': 21, 'city': 'Dublin', 'country': 'Ireland'}

In [117]:
#Create a second dictionary
my_dict2 = {1:['John', 21, 'Dublin', 'Ireland'],
             2:['Jack', 22, 'London', 'England'],
             3:['Iris', 21, 'Cork', 'Ireland']}

print(my_dict2)

{1: ['John', 21, 'Dublin', 'Ireland'], 2: ['Jack', 22, 'London', 'England'], 3: ['Iris', 21, 'Cork', 'Ireland']}

In [119]:
#Print the values of 2

my_dict2[2]

['Jack', 22, 'London', 'England']

In [120]:
#-Add a new key-value pair for 4/[Dan, 20, Dublin, Ireland], and print “my_dict2”

my_dict2[4] = ['Dan', 20, 'Dublin', 'Ireland']
print(my_dict2)

#this is how i add another key/value pair

{1: ['John', 21, 'Dublin', 'Ireland'], 2: ['Jack', 22, 'London', 'England'], 3: ['Iris', 21, 'Cork', 'Ireland'], 4: ['Dan', 20, 'Dublin', 'Ireland']}

In [122]:
#Remove the key-value pair 2 with the function del
del my_dict2[2]
print(my_dict2)

{1: ['John', 21, 'Dublin', 'Ireland'], 3: ['Iris', 21, 'Cork', 'Ireland'], 4: ['Dan', 20, 'Dublin', 'Ireland']}

In [145]:
#-Using a for loop, compute the mean of the following list: [12, 15, 6, 13, 12, 18, 2, 15, 8, 9, 16, 14, 16]

lsta = [12, 15, 6, 13, 12, 18, 2, 15, 8, 9, 16, 14, 16]

def MeanVal(lst):
    num = 0
    cpt = 0 
    for elt in lst: 
        num += elt
        cpt += 1
    return(num / cpt)

print(MeanVal(lsta))

12.0

In [146]:
#alternative version for mean

def MeanVal(lst):
    num = 0
    for elt in lst: 
        num += elt
    return(num / len(lst))

print(MeanVal(lsta))

12.0

In [28]:
#Same question but create a function to compute the mean and call it for the list defined above

lsta = [12, 15, 6, 13, 12, 18, 2, 15, 8, 9, 16, 14, 16]

def MeanVal(lst):
    num=0
    cpt=0
    for elt in lst:

12.0